* {
    border: 0px solid red;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.left, .right, .center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#user-score, #computer-score {
    width: 50px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-around;
}

.selection {
    display: flex;
    justify-content: space-around;
}

.player-selection, .computer-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rule, .footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    height: 100px;
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
}

#com-select, #pla-select {
    height: 100px;
    width: 100px;
}

#round-winner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}